In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import KNNImputer
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mserr
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
train_x = pd.read_csv("E:\\2ndMSIT\\Intro to ML\\DataScience_2019501037\\Kaggle_Lin_Reg\\restaurant-revenue-prediction\\train.csv",index_col=0)
train_x

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
Id,,,,,,,,,,,,,,,,,,,,,
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,2,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,3,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,3,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [3]:
train_y = train_x['revenue']
train_x.drop('revenue',axis=1,inplace=True)
train_x

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
Id,,,,,,,,,,,,,,,,,,,,,
0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,2,...,2.0,3.0,5,3,4,5,5,4,3,4
1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,2,...,3.0,3.0,0,0,0,0,0,0,0,0
2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,3,...,1.0,3.0,0,0,0,0,0,0,0,0
3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,4,...,2.5,7.5,25,12,10,6,18,12,12,6
4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,2,...,1.0,3.0,5,1,3,2,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,2,...,2.0,3.0,0,0,0,0,0,0,0,0
133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,3,...,3.0,3.0,0,0,0,0,0,0,0,0
134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,3,...,2.0,3.0,0,0,0,0,0,0,0,0
135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,2,...,3.0,3.0,0,0,0,0,0,0,0,0
136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,2,...,3.0,3.0,0,0,0,0,0,0,0,0

In [4]:
test_x = pd.read_csv("E:\\2ndMSIT\\Intro to ML\\DataScience_2019501037\\Kaggle_Lin_Reg\\restaurant-revenue-prediction\\test.csv",index_col=0)
test_x

,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,P6,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
Id,,,,,,,,,,,,,,,,,,,,,
0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,2,...,2.0,3.0,0,0,0,0,0,0,0,0
1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,3,...,2.0,3.0,0,4,0,0,0,0,0,0
4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,2,...,5.0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,01/05/2000,Antalya,Other,FC,5,5.0,4.0,4.0,2,2,...,2.0,3.0,0,0,0,0,0,0,0,0
99996,07/18/2011,Niğde,Other,IL,1,2.0,4.0,3.0,1,1,...,1.0,3.0,5,0,0,0,4,0,0,0
99997,12/29/2012,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,1,2,...,4.0,1.0,5,5,3,2,4,4,4,2
99998,10/12/2013,İstanbul,Big Cities,FC,12,7.5,6.0,6.0,4,4,...,7.5,5.0,0,0,0,4,0,0,0,0
99999,10/05/2010,İstanbul,Big Cities,IL,2,5.0,4.0,4.0,2,2,...,5.0,3.0,0,2,0,2,2,4,2,0

In [5]:
train_x.drop('Open Date',axis=1,inplace=True)
test_x.drop('Open Date',axis=1,inplace=True)

In [6]:
# As a first step of pre-processing remove columns with null value ratio greater than provided limit
sample_size = len(train_x)
sample_size

137

In [7]:
sample_size = len(test_x)
sample_size

100000

In [8]:
#Train dataset
train_col_with_nullvalues=[[col,float(train_x[col].isnull().sum())/float(sample_size)] for col in train_x.columns if train_x[col].isnull().sum()]
train_col_with_nullvalues

[]

In [9]:
test_col_with_nullvalues=[[col,float(test_x[col].isnull().sum())/float(sample_size)] for col in test_x.columns if test_x[col].isnull().sum()]
test_col_with_nullvalues

[]

In [10]:
# Train dataset
train_categorical_columns=[col for col in train_x.columns if train_x[col].dtype==object]
train_categorical_columns

['City', 'City Group', 'Type']

In [11]:
train_ordinal_columns=[col for col in train_x.columns if col not in train_categorical_columns]
train_ordinal_columns

['P1',
 'P2',
 'P3',
 'P4',
 'P5',
 'P6',
 'P7',
 'P8',
 'P9',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17',
 'P18',
 'P19',
 'P20',
 'P21',
 'P22',
 'P23',
 'P24',
 'P25',
 'P26',
 'P27',
 'P28',
 'P29',
 'P30',
 'P31',
 'P32',
 'P33',
 'P34',
 'P35',
 'P36',
 'P37']

In [12]:
test_categorical_columns=[col for col in test_x.columns if test_x[col].dtype==object]
test_categorical_columns

['City', 'City Group', 'Type']

In [13]:
test_ordinal_columns=[col for col in test_x.columns if col not in test_categorical_columns]
test_ordinal_columns

['P1',
 'P2',
 'P3',
 'P4',
 'P5',
 'P6',
 'P7',
 'P8',
 'P9',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17',
 'P18',
 'P19',
 'P20',
 'P21',
 'P22',
 'P23',
 'P24',
 'P25',
 'P26',
 'P27',
 'P28',
 'P29',
 'P30',
 'P31',
 'P32',
 'P33',
 'P34',
 'P35',
 'P36',
 'P37']

In [19]:
train_unique = []
for col in train_categorical_columns:
    train_unique.append(len(train_x[col].unique()))
    print (train_x[col].unique())
print(train_unique)

['İstanbul' 'Ankara' 'Diyarbakır' 'Tokat' 'Gaziantep' 'Afyonkarahisar'
 'Edirne' 'Kocaeli' 'Bursa' 'İzmir' 'Sakarya' 'Elazığ' 'Kayseri'
 'Eskişehir' 'Şanlıurfa' 'Samsun' 'Adana' 'Antalya' 'Kastamonu' 'Uşak'
 'Muğla' 'Kırklareli' 'Konya' 'Karabük' 'Tekirdağ' 'Denizli' 'Balıkesir'
 'Aydın' 'Amasya' 'Kütahya' 'Bolu' 'Trabzon' 'Isparta' 'Osmaniye' 'dummy']
['Big Cities' 'Other' 'dummy']
['IL' 'FC' 'DT' 'dummy']
[35, 3, 4]

In [20]:
test_unique = []
for col in test_categorical_columns:
    test_unique.append(len(test_x[col].unique()))
    print (test_x[col].unique())
print(test_unique)

['Niğde' 'Konya' 'Ankara' 'Kocaeli' 'Afyonkarahisar' 'Eskişehir' 'Rize'
 'İstanbul' 'Trabzon' 'Antalya' 'Muğla' 'Düzce' 'Adana' 'Bursa' 'Aydın'
 'Hatay' 'Denizli' 'İzmir' 'Gaziantep' 'Samsun' 'Erzurum' 'Edirne'
 'Balıkesir' 'Mersin' 'Zonguldak' 'Malatya' 'Çanakkale' 'Kars' 'Bolu'
 'Batman' 'Bilecik' 'Giresun' 'Tekirdağ' 'Sivas' 'Kırıkkale' 'Mardin'
 'Erzincan' 'Manisa' 'Diyarbakır' 'Kahramanmaraş' 'Yalova' 'Tanımsız'
 'Sakarya' 'Kırşehir' 'Aksaray' 'Kayseri' 'Nevşehir' 'Çorum' 'Ordu'
 'Kırklareli' 'Şanlıurfa' 'Artvin' 'Uşak' 'Kütahya' 'Siirt' 'Çankırı'
 'Isparta']
['Other' 'Big Cities']
['FC' 'IL' 'DT' 'MB']
[57, 2, 4]

In [16]:
dummy_row=list()
for col in train_x.columns:
    if col in train_categorical_columns:
        dummy_row.append("dummy")
    else:
        dummy_row.append("")
new_row = pd.DataFrame([dummy_row],columns=train_x.columns)
train_x = pd.concat([train_x,new_row],axis=0, ignore_index=True)
train_x

,City,City Group,Type,P1,P2,P3,P4,P5,P6,P7,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,İstanbul,Big Cities,IL,4,5,4,4,2,2,5,...,2,3,5,3,4,5,5,4,3,4
1,Ankara,Big Cities,FC,4,5,4,4,1,2,5,...,3,3,0,0,0,0,0,0,0,0
2,Diyarbakır,Other,IL,2,4,2,5,2,3,5,...,1,3,0,0,0,0,0,0,0,0
3,Tokat,Other,IL,6,4.5,6,6,4,4,10,...,2.5,7.5,25,12,10,6,18,12,12,6
4,Gaziantep,Other,IL,3,4,3,4,2,2,5,...,1,3,5,1,3,2,3,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,İzmir,Big Cities,FC,4,5,4,4,2,3,5,...,3,3,0,0,0,0,0,0,0,0
134,Kayseri,Other,FC,3,4,4,4,2,3,5,...,2,3,0,0,0,0,0,0,0,0
135,İstanbul,Big Cities,FC,4,5,4,5,2,2,5,...,3,3,0,0,0,0,0,0,0,0
136,İstanbul,Big Cities,FC,4,5,3,5,2,2,5,...,3,3,0,0,0,0,0,0,0,0
137,dummy,dummy,dummy,,,,,,,,...,,,,,,,,,,

In [24]:
for col in train_categorical_columns:
    train_x[col].fillna(value="dummy",inplace=True)
    test_x[col].fillna(value="dummy",inplace=True)

data=pd.DataFrame({'City':[train_x['City']]})
from sklearn.preprocessing import CategoricalEncoder as ce
encoder=ce.OneHotEncoder(cols='City',handle_unknown='return_nan',return_df=True,use_cat_names=True)
data_encoded = encoder.fit_transform(data)
data_encoded
# # train_x.drop('Open Date',axis=1,inplace=True)
# # test_x.drop('Open Date',axis=1,inplace=True)

# enc = OneHotEncoder(drop='first',sparse=False)
# enc.fit(train_x[train_categorical_columns])
# trainx_enc=pd.DataFrame(enc.transform(train_x[train_categorical_columns]))
# trainx_enc.columns=enc.get_feature_names(train_categorical_columns)

# testx_enc=pd.DataFrame(enc.transform(test_x[train_categorical_columns]))
# testx_enc.columns=enc.get_feature_names(train_categorical_columns)

# train_x = pd.concat([train_x[train_ordinal_columns],trainx_enc],axis=1,ignore_index=True)
# test_x = pd.concat([test_x[train_ordinal_columns],testx_enc],axis=1,ignore_index=True)

# train_x.drop(train_x.tail(1).index,inplace=True)
# train_x

scaler = preprocessing.StandardScaler().fit(train_x)
train_x=scaler.transform(trainx_filled)
test_x=scaler.transform(testx_filled)
print(test_x)
print(train_x)

ImportError: cannot import name 'CategoricalEncoder' from 'sklearn.preprocessing' (C:\Users\MEESALA ARAVIND\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

Note: you may need to restart the kernel to use updated packages.

'C:\Users\MEESALA' is not recognized as an internal or external command,
operable program or batch file.